.te {
    border:1px solid #333;
    border-bottom-width:3px;
    border-top-width:3px;
    margin:20px;
}
.te, .teheader {
    padding:0;
}
.teheader {
    border-bottom:1px solid #333;   
}
.teheader:after {
    content:'.';
    clear: both;
    display: block;
    height: 0px;
    text-indent:-99999px;
}
.teheader select {
    width:auto;
    float:left;
    height:26px;
    margin-top:2px;
}
.tecontrol {
    display: inline-block;
}
.teheader .button {
    padding: 7px;
    width: 30px;
    height: 30px;
    margin: 0;
    display:block;
    float:left;
    background-color:#fff;
}
.teheader .button i {
    color:#333;   
}
.button:hover,
.button:focus {
    background-color:#333;
}
.button:hover i,
.button:focus i {
    color:#fff;
}

.tecontrol.button i {
    width: 16px;
    height: 16px;
    font-size: 16px;
}
.tedivider {
    float:left;   
    background:#ccc;
    width:1px;
    height:24px;
    margin-top:3px;
}
.tefooter {
    border-top:1px solid #333;   
}
.toggle {
    margin:0;   
}